<html>
  <head>
    <title>Do not tell anyone!</title>
    <style>
        .tr {
            padding: auto;
            background-color: gray;
        }
        tr:nth-child(even) {
            background-color: Lightgreen;
        }
    </style>
  </head>
  <body>
    <h1>Secrets jealously hidden on this server</h1>

    <h2>KeyStores</h2>
    <table>
        <tr><th>Keystore Name</th><th>Key alias</th><th>Password</th></tr>
        %loop keyStoreDetails%
        <tr>
            <td>%value alias%</td>
            <td>%value username%</td>
            <td>%value password%</td>
        </tr>
        %end loop%
    </table>

    <h2>Global Variables</h2>
    <table>
        <tr><th>Key</th><th>Value</th></tr>
        %loop secretGlobalVariables%
        <tr><td>%value key%</td><td>%value value%</td></tr>
        %end loop%
    </table>

    <h2>Adapters</h2>
    %loop registeredAdapterList% 
    <h3>Adapter name: %value adapterDisplayName% </h3>
    <table>
        <tr><th>Connection</th><th>Password</th><th>Parameters</th></tr>
        %loop connectionDataList%
        <tr>
            <td>%value connectionAlias%</td>
            <td>%value password%</td>
            <td><table>
                <tr><th>Key</th><th>Value</th></tr>
                %loop parameters%
                <tr>
                    <td>%value systemName%</td>
                    <td>%value value%</td>
                </tr>
                %end loop%
            </table></td>
        </tr>
        %end loop%
    </table>
    %end loop%
  </body>
</html>
